<template>
  <div v-if="myPr0duct" class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Example Field</label>
        <input
          disabled
          type="text"
          class="form-control"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pr0ductDetail',
  props: {
    pr0duct: Object
  },
  data () {
    return {
      myPr0duct: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myPr0duct)
    }
  },
  watch: {
    pr0duct (n, o) {
      this.myPr0duct = n
    }
  },
  mounted () {
    this.myPr0duct = this.pr0duct
  }
}
</script>
