<template>
  <div v-if="pr0duct">
    <common-info :obj="pr0duct" :fields="[]"/>
  </div>
</template>

<script>
import MixinHttp from '@/Mixins/MixinHttp'
import CommonInfo from '@/Commons/CommonInfo'
import Pr0ductService from '@/Application/Pr0ducts/Pr0ductService'

export default {
  name: 'Pr0ductInfo',
  components: {
    'common-info': CommonInfo
  },
  mixins: [
    MixinHttp,
    Pr0ductService
  ],
  props: {
    id: Number
  },
  methods: {
    init () {
      if (this.id) {
        this.httpInit()
        this.retrievePr0duct(this.id)
      }
    }
  },
  watch: {
    id (n, o) {
      this.init()
    }
  },
  mounted () {
    this.init()
  }
}
</script>

<style>

</style>
