<template>
  <div>
    <div class="row mb-4">
      <div class="col-md-12">
        <button @click="onCreatePr0duct" class="btn btn-primary float-right">
          Pr0duct Baru
        </button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <common-card>
          <span slot="title">Filter</span>
          <pr0duct-filter slot="content" @onFilter="onFilterPr0duct" />
        </common-card>
      </div>
      <div class="col-md-9">
        <common-card>
          <span slot="title">Daftar Pr0duct</span>
          <pr0duct-list slot="content" :pr0ducts="pr0ducts" @onSelect="onSelectPr0duct" />
        </common-card>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <b-pagination
          class="float-right"
          v-model="queryPr0duct.page"
          :total-rows="paginationPr0duct.count"
          @change="onPaginatePr0duct"
          :per-page="25"
          aria-controls="my-table"
        >
        </b-pagination>
      </div>
    </div>
    <!-- modal-pr0duct-detail -->
    <b-modal
      id="modal-Pr0ductDetail"
      v-if="pr0duct"
      ref="modal-Pr0ductDetail"
      hide-footer
      size="lg"
    >
      <div class="row mb-2">
        <div class="col-md-6">
          <h5>Pr0duct</h5>
        </div>
        <div class="col-md-6">
          <button
            v-if="pr0duct.is_draft"
            class="btn btn-primary float-right ml-2"
            @click="onPublishPr0duct"
          >
            Publikasi
          </button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <pr0duct-detail :poly="pr0duct" @onUpdate="onUpdatePr0duct" />
        </div>
      </div>
    </b-modal>
    <!-- ./modal-pr0duct-detail -->
  </div>
</template>

<script>
import _ from 'underscore'

import MixinHttp from '@/Mixins/MixinHttp'
import HelperNotify from '@/Helpers/HelperNotify'
import CommonCard from '@/Commons/CommonCard'

import Pr0ductService from '@/Application/Pr0ducts/PolyService'
import Pr0ductList from '@/Application/Pr0ducts/Components/Pr0ductList'
import Pr0ductFilter from '@/Application/Pr0ducts/Components/Pr0ductFilter'
import Pr0ductDetail from '@/Application/Pr0ducts/Components/Pr0ductDetail'

export default {
  name: 'Pr0ductPopupSingle',
  components: {
    'common-card': CommonCard,
    'pr0duct-list': Pr0ductList,
    'pr0duct-filter': Pr0ductFilter,
    'pr0duct-detail': Pr0ductDetail
  },
  mixins: [
    MixinHttp,
    HelperNotify,
    Pr0ductService
  ],
  props: {
    query: Object
  },
  methods: {
    init () {
      this.queryPr0duct = _.extend(
        {},
        this.queryPr0duct,
        this.query
      )
      this.httpInit()
      this.listPr0duct()
    },
    onSelectPr0duct (pr0duct) {
      this.retrievePr0duct(pr0duct.id)
        .then((response) => {
          this.$emit('onSelect', this.pr0duct)
        })
    },
    onFilterPr0duct (query) {
      this.queryPr0duct.pr0duct_number = query.pr0duct_number
      this.queryPr0duct.name = query.name
      this.init()
    },
    onPaginatePr0duct (page) {
      this.queryPr0duct.page = page
      this.init()
    },
    onCreatePr0duct () {
      this.createPr0duct()
        .then((response) => {
          this.$refs['modal-Pr0ductDetail'].show()
          this.init()
        })
    },
    onPublishPr0duct () {
      this.publishPr0duct(this.pr0duct.id)
        .then((response) => {
          this.$refs['modal-Pr0ductDetail'].hide()
          this.init()
          this.$emit('onSelect', this.pr0duct)
        })
    },
    onUpdatePr0duct (pr0duct) {
      const payload = {
        name: pr0duct.name
      }
      this.updatePoly(pr0duct.id, payload)
        .then((response) => {
          this.init()
        })
    }
  },
  mounted () {
    this.init()
  }
}
</script>

<style>

</style>
